<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white ms-4">Diet Planner</a>
    <button class="btn btn-danger me-4 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="form-floating mt-4 ms-4">
    <input type="text" class="form-control" id="calories" [(ngModel)]="calories">
    <label for="calories">Calories</label>
    <button type="button" class="btn btn-success mt-2" (click)="generateMealPlan()">Generate Meal Plan</button>
</div>

<div class="container mt-4" *ngIf="showMealPlan">
    <div class="row">
        <div class="card bg-white mb-4 w-50 me-2">
            <div class="card-body">
                Calories: {{mealPlan.nutrients.calories}} Carbohydrates: {{mealPlan.nutrients.carbohydrates}} Fat: {{mealPlan.nutrients.fat}} Protein: {{mealPlan.nutrients.protein}}
            </div>
        </div>
        <div class="card bg-white mb-4 w-25">
            <div class="card-body d-flex align-items-center">
                <label for="date" class="me-2">Select date:</label>
                <input type="date" id="date" class="form-control" style="width: 55%;" [(ngModel)]="date">
            </div>
        </div>
        <div class="col-sm-1 d-flex align-items-center justify-content-center mb-4">
            <button type="button" class="btn btn-primary" (click)="addMealToPlan()">Add meal to calendar</button>
        </div>
    </div>
    <div class="row">
        <div class="card col-sm me-4" style="width: 18rem;" *ngFor="let meal of mealPlan.meals">
            <img class="card-img-top" src="{{meal.imageUrl}}" alt="Card image cap">
            <div class="card-body  d-flex flex-column">
                <h6 class="card-title mb-4">{{meal.title}}</h6>
                <a href="{{meal.sourceUrl}}" class="btn btn-primary mt-auto w-50">Learn more</a>
            </div>
        </div>
    </div>
</div>

